<div class='forwardpopup'>
  <div class="header d-flex  align-items-center justify-content-between">
    <div  class="closeChat" (click)='closeDialog()'>
      <i class="fa fa-times"></i>
    </div>
    <div class=""><h3>Forward Message</h3></div>
    <div class="btn" (click)='closeDialog()' >Done </div>
  </div>
  <div style="margin: 10px 0;" class=" d-flex  align-items-center justify-content-between" >
    <div *ngIf='data.fImage' class="fimage"> <img src="assets/img/{{data.fImage}}.jpg" alt="forwardImages"> </div>
    <div *ngIf='data.msg' class="fchat">{{data.msg}}</div>

  </div>
  <div class="searchinput">
    <input type="text" placeholder="search" >
  </div>
  <div class="searchlist">
    <div class="clearfix"  *ngFor="let data of chatData; let index = index;">
      <div class="d-flex  align-items-center justify-content-between" >
        <div class="chatImg">
          <img src="../../assets/img/{{index + 1}}.jpg">
          <div *ngIf="data.onlineStatus == 'Online'" class="onIcon"></div>
        </div>
        <h5>{{data.name}}</h5>
        <div>
          <span class="btn btn-default">Send </span>
        </div>
      </div>

    </div>
  </div>
</div>
