<div class="chatList">
  <div class="chatListSearch clearfix">
    <input type="text" placeholder="Search" />
    <div class="chatFiltIcon">

      <div style="border: 0;background: none;" mat-button [matMenuTriggerFor]="chatfilter">  <i class="fa fa-sliders chatFilter"></i></div>
      <mat-menu #chatfilter="matMenu">
        <div class="act" mat-menu-item>All message</div>
        <div mat-menu-item>Archive</div>
        <div mat-menu-item>My Connections</div>
        <div mat-menu-item>Unread</div>
      </mat-menu>

    </div>
  </div>
  <ul class="chatListInn">
    <li class="clearfix"  *ngFor="let data of chatData; let index = index;" (click)="openChat(data, index+1)">
      <div class="chatImg"><img src="../../assets/img/{{index + 1}}.jpg"> <div *ngIf="data.onlineStatus == 'Online'" class="onIcon"></div></div>
      <h3>{{data.username}}</h3>
      <p>{{data.status}}</p>
      <div *ngIf="(data.chatcount != 0 || data.chatcount != '')" class="chatCount">{{data.chatcount}}</div>
    </li>

  </ul>
</div>
