<div class="chatWrap">
  <div class="chatWrapHead">
    <div class="chatImg"><img src="assets/img/{{this.data.image}}.jpg" alt=""> <div class="onIcon"></div></div>
    <h3>{{this.data.name}}</h3>
    <p>Online</p>
    <ul class="chatUserBtn clearfix">
      <li>
        <i class="fa fa-search searchChat"></i>
        <div class="searchChatPop"><input type="text" placeholder="Search" /></div>
      </li>
      <li class="mesPop">
        <img [matMenuTriggerFor]="menu" xPosition="before" src="assets/img/dots.svg" alt="">
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Clear all messages</button>
          <button mat-menu-item>Delete</button>
          <button mat-menu-item>Report</button>
        </mat-menu>

      </li>
<!--      <li class="closeChat" (click)="closechat($event)" ><i class="fa fa-times"></i></li>-->
    </ul>
  </div>

  <div class="chatMesWrap" *ngFor="let msg of messages">
    <ul>

      <li class="clearfix" *ngIf="msg.message != ''">
        <div [class]="msg.fromId === data.name ? 'chatMes':'chatMes myMessage'">
          <div class="chatMesText" >
            {{msg.message}}
            <!--               <span>03:30 pm</span>-->
          </div>
          <i [matMenuTriggerFor]="textmenu" class="fa fa-angle-down chatOverIcon"></i>
          <mat-menu #textmenu="matMenu">
            <div mat-menu-item>Copy Message</div>
            <div mat-menu-item>Forward Message</div>
            <div mat-menu-item>Delete</div>
          </mat-menu>
        </div>
      </li>

      <li class="clearfix" *ngIf=" msg.fileName != ''">
        <div [class]="msg.fromId === data.name ? 'chatMes':'chatMes myMessage'">
          <div class="chatMesImg">
            <div>
              <!-- for image  -->
            <span *ngIf="msg.fileName.split('.').slice(-1)[0] == 'jpg' || msg.fileName.split('.').slice(-1)[0] == 'png'">
              <!--<img [src]="b.filelocation" alt=""> -->
            </span>
<!--            &lt;!&ndash; for video &ndash;&gt;
              <span *ngIf="msg.fileName.split('.').slice(-1)[0] == 'mp4' ">
              &lt;!&ndash; <video  width="180"  controls  [src]="b.filelocation"></video> &ndash;&gt;
            </span>
            &lt;!&ndash; for audio &ndash;&gt;
            <span *ngIf="msg.fileName.split('.').slice(-1)[0] == 'mp3' ">
              &lt;!&ndash; <audio [src]="b.filelocation"></audio> &ndash;&gt;
            </span>-->
            <!-- for zip -->
            <span *ngIf="
            (msg.fileName.split('.').slice(-1)[0]).toLowerCase() === 'zip' ||
            (msg.fileName.split('.').slice(-1)[0]).toLowerCase() === 'rar' ||
            (msg.fileName.split('.').slice(-1)[0]).toLowerCase() === 'txt'||
            (msg.fileName.split('.').slice(-1)[0]).toLowerCase() === 'pdf'||
            (msg.fileName.split('.').slice(-1)[0]).toLowerCase() === 'docx'||
            (msg.fileName.split('.').slice(-1)[0]).toLowerCase() === 'xlsx'">
              <div>
                <h3><span>{{msg.fileName.slice(0,5)}}</span>
                  <span>....</span>
                 <span> {{msg.fileName.split('.').slice(-1)[0]}}</span></h3>
                <h5>{{msg.fileSize}}</h5>
               <div> <i class="fa fa-file-o" aria-hidden="true" style="font-size: 20px;"></i> File</div>
              </div>
            </span>
            </div>
          </div>
          <div class="chatMesText">
          <span>03:30 pm</span>
          <div class="sendNotiIcon"><img class="" src="../../../assets/img/mes-check.svg" alt=""></div>
        </div>
        <i [matMenuTriggerFor]="textmenu" class="fa fa-angle-down chatOverIcon"></i>
          <mat-menu #textmenu="matMenu">
            <div mat-menu-item>Copy Message</div>
            <div mat-menu-item>Forward Message</div>
            <div mat-menu-item>Delete</div>
          </mat-menu>
        </div>
      </li>
    </ul>

  </div>
  <div class="chatComment">
    <div class="chatSmile"><i class="fa fa-smile-o"></i></div>
    <input [(ngModel)]="message" type="text" id="emojionearea1" placeholder="Enter Message" />
    <div (click)="sendMessageUsingRest()"><img src="assets/img/send-mess.svg" alt="" width="25" ></div>

    <div mat-button [matMenuTriggerFor]="attach">
      <div class="chatAttachWrap"><i class="fa fa-paperclip chatAttacIcon"></i></div></div>
    <mat-menu #attach="matMenu" class="demo" >
      <div class="chatAttachpop clearfix">
        <div class="clearfix chatAttachInn">
          <div class="row">
            <div class="col-sm-12" style="display: flex;justify-content: space-evenly;align-items: center;">
              <div class="chatAttachCta uploadFileChat">
                <img src="assets/img/add-photo.svg" alt="">
                <span>Add Photo</span>
                <input type="file">
              </div>
              <div class="chatAttachCta uploadFileChat">
                <img src="assets/img/add-video.svg" alt="">
                <span>Add Video</span>
                <input type="file">
              </div>
              <div class="chatAttachCta audioPop">
                <img src="assets/img/add-audio.svg" alt="">
                <span>Add Audio</span>
              </div>
            </div>
            <div class="col-sm-12" style="display: flex;justify-content: space-evenly;align-items: center;">
              <div class="chatAttachCta">
                <img src="assets/img/add-location.svg" alt="">
                <span>Add Location</span>
                <input type="file">
              </div>
              <div class="chatAttachCta uploadFileChat">
                <img src="assets/img/add-doc.svg" alt="">
                <span>Add document</span>
<!--                <input type="file" (change)="selectFile($event)">-->
              </div>
              <div class="chatAttachCta tagFriend">
                <img src="assets/img/tag-user.svg" alt="">
                <span>Tag Friends</span>
              </div>
            </div>
          </div>



        </div>

        <!-- upload Audio -->
        <div class="uploadAudio">
          <span class="fa fa-check"></span>
          <p><i></i> 00:00</p>
          <span class="fa fa-times closeAud"></span>
        </div>
        <!-- upload Audio -->

      </div>
    </mat-menu>

  </div>


</div>
