/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; font-weight:400; font-size:14px; margin:0px 0px; padding:0px 0px;
  overflow-x:hidden; background-color: #fafafa !important;
}
:focus, a:focus { outline:none;}
input, select, textarea, label { font-family:'Roboto', Arial, Helvetica, sans-serif;}
input:focus, select:focus { outline:none;}
select::-ms-expand { display: none;}
a { text-decoration:none !important; color:#333; display:inline-block;}

a:hover { text-decoration:none;} a:active { text-decoration:none;}
.clear { clear:both;}

.mainWrap { width: 100%;}
header {
  background-color: #0b82cf; height: 60px; width: 100%; border-bottom: 1px solid #0a6ba9; position: fixed; left: 0px; top:0px;
  z-index: 2000;
}

.chatListSearch {
  padding: 8px; background-color: #5e92a8; border-radius: 5px 5px 0px 0px;
}
.chatListSearch input {
  background-image: url(assets/img/searchIcon.svg); background-repeat: no-repeat; background-size: 22px;
  background-position: 6px center; width: 80%; border: none; background-color: #fff; border-radius: 4px;
  padding: 0px 10px 0px 35px; height: 32px; float: left;
}
.chatFiltIcon {
  // padding: 0px 10px 0px 35px;
  padding: 0;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.chatPopup {
  position: absolute; top: 32px; right: -10px; display: none; z-index: 100;
}
.chatPopupInn {
  position: relative; background-color: #fff; box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  width: 160px; border-radius: 5px; padding: 10px 0px;
}
.chatPopupInn :after {
  bottom: 100%; left: 80%; border: solid transparent; content: " ";
  height: 0; width: 0; position: absolute;border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ccc; border-width: 7px; margin-left: -7px;
}
.chatPopupInn a {
  display: block; padding: 6px 15px; border-left: 2px solid #fff; font-size: 13px; font-weight: 400;
  color: #666; text-align: left;
}
.chatPopupInn a:hover { background-color: #fafafa; border-left: 2px solid #fafafa;}
.chatPopupInn a.act {background-color: #fafafa; border-left: 2px solid #00a3e8;}
.chatFilter {
  width: 32px; height: 32px; display: block; text-align: center; font-size: 22px;
  color: #fff; line-height: 30px; margin: 0px 0px 0px 10px; cursor: pointer;
}
.chatListInn {
  padding: 0px 0px; margin: 0px 0px; max-height: 700px; ;
}
.chatListInn li {
  list-style-type: none; position: relative; padding: 8px 35px 2px 55px; cursor: pointer;
}
.chatListInn li .chatImg {
  position: absolute; left: 10px; top: 10px;
}
.chatListInn li h3 {
  padding: 2px 0px 0px; margin: 0px 0px; font-size: 14px; font-weight: 500; color: #454545;
}
.chatListInn li p {
  padding: 0px 0px 6px; margin: 0px 0px; font-size: 13px; font-weight: 400; color: #787878;
  border-bottom: 1px solid #ededed;
}
.chatCount {
  position: absolute; width: 20px; height: 20px; background-color: #019de0; font-size: 10px; right: 12px; top: 14px;
  font-weight: 500; color: #fff; border-radius: 50%; text-align: center; line-height: 20px;
}

.chatWrapHead {
  list-style-type: none; position: relative; padding: 8px 100px 8px 62px;
  position:fixed;
  width: 100%;
  z-index: 200;
  top:0;
  background-color: #fff; border-radius: 5px 5px 0px 0px; box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
}
.chatWrapHead .chatImg {
  position: absolute; left: 15px; top: 10px;
}
.chatWrapHead h3 {
  padding: 3px 0px 0px; margin: 0px 0px; font-size: 14px; font-weight: 500; color: #454545;
}
.chatWrapHead p {
  padding: 0px; margin: 0px 0px; font-size: 13px; font-weight: 400; color: #999;
}
.chatUserBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.chatUserBtn li {
  position: relative; float: left; list-style: none; width: 25px; height: 25px; border-radius: 50%;
  text-align: center; cursor: pointer; margin: 5px;
}
.chatUserBtn li i { display: block; line-height: 35px; font-size: 16px; color: #999;}
.chatUserBtn li img { display: block; width: 36px; opacity: 0.7;}
// .chatUserBtn li:hover, .chatUserBtn li.act { background-color: #fafafa;}
.chatUserBtn .chatPopup {top: 36px; right: -13px;}

.chatComment {
  position: relative;
  position: fixed;
  bottom: 0px;
  padding: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; bottom: 0px; left: 0px; width: 100%;  */
  background-color: #fff;
  padding: 10px 70px 10px 60px; box-shadow: 0px 0px 3px rgba(0,0,0,0.05);
}
.mat-bottom-sheet-container-large{
  padding: 0 !important;
}
.chatComment input {
  width: 65%; height: 40px; border-radius: 30px; border: 1px solid #dedede; padding: 0px 20px; font-size: 15px;
  font-weight: 400; color: #454545; background-color: #fafafa;
}
.chatSmile {
  // position: absolute; left: 10px;
  width: 30px; text-align: center; font-size: 28px; color: #ccc;
  cursor: pointer; top: 10px;
}
.chatAttachWrap {
  font-size: 20px;
}
/* .chatComment button {
    position: absolute; right: 8px; background-color: transparent; width: 50px; border: none; height: 40px;
    display: none; top: 10px;
} */
.chatComment button img { width: 30px;}

.chatAttachCta img { display: block; width: 35px; margin: 0px auto;}
.chatAttachCta span { display: inline-block; padding: 0px 0px 2px; font-size: 11px;}
.chatAttachCta input {
  position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; opacity: 0; cursor: pointer;
}
.chatAttachCta:hover { background-color: #ecf8fd;}


.chatMesWrap { padding: 60px 5px; overflow-y: auto; max-height: 670px; overflow-x: hidden;}
.chatMesWrap ul {
  padding: 0px 0px; margin: 0px 0px;
}
.chatMesWrap ul li {
  list-style-type: none; padding: 0px 0px 2px;
  overflow: hidden;
}
.chatMes {
  float: left; max-width: 75%; background-color: #fff; box-shadow: -1px 1px 2px rgba(0,0,0,0.05);
  position: relative; border-radius: 5px;
}
.chatMes:after {
  right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0;
  position: absolute; border-color: rgba(255, 255, 255, 0); border-right-color: #fff;
  border-width: 10px; margin-top: -10px;
}
.chatMesText {
  padding: 4px 65px 4px 15px; position: relative; font-size: 13px; font-weight: 400;
  color: #666; box-sizing: border-box; min-height: 21px;
}
.chatMesText span {
  position: absolute; bottom: 5px; right: 10px; font-size: 11px; color: #999;
}

.resChatIcon.chatPlace {
  top: 10%;
  right: 50px;
}
.chatMesText a { color: #0275bf; word-break: break-all;}

.chatOverIcon {
  position: absolute; top: 2px; right: 0px; font-size: 18px; color: #999; width: 20px; visibility: hidden;
  text-align: center; height: 20px; background-color: #fff; line-height: 20px; cursor: pointer; opacity: 0;
  border-radius: 0px 0px 0px 10px;
}
.chatMes:hover .chatOverIcon { visibility: visible; opacity: 1;}
.chatMes .chatPopup { right: 0px; top: 30px;}
.chatMes .chatPopupInn :after {border-width: 0px; margin-left: 0px; padding: 5px 0px;}
.chatMes .fa-ellipsis-h { font-size: 15px; color: #787878; position: relative; top: 2px;}
.chatImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
img {
  max-width: 100%;
}
.chatMes.myMessage {
  float: right; background-color: #f3f8ff;
}
.chatMes.myMessage:after {
  left: 100%; border-left-color: #f3f8ff; right: 0px; border-right-color: transparent;
}
.chatMes.myMessage .chatOverIcon { background-color: #f3f8ff;}
.chatMes.chatMesNew {padding: 8px 15px;}
.chatMes.myMessage  .chatMesText { padding: 5px 80px 5px 8px; min-height: 21px; line-break: anywhere;}
.chatMes.myMessage  .chatMesText span { right: 20px;}
.sendNotiIcon {
  position: absolute; bottom: 5px; right: 4px; font-size: 11px; color: #999;
}
.sendNotiIcon img { width: 11px;}
.sendNotiIcon img.mesChecked { width: 14px;}
.chatMesImg {     padding: 5px 10px;
  width: 200px;
  height: 115px;
  cursor: pointer;
}
button:focus {
  outline: 0 !important;
}
.chatMesImg img { width: 100%; height: 100%; object-fit: cover; border-radius: 5px;}
.chatMesImg.chatMesVid { position: relative; overflow: hidden;}
.chatMesImg.chatMesVid i {
  position: absolute; width: auto; height: auto; background-color: rgba(0,0,0,.20); top: 5px;
  left: 5px; background-image: url(assets/img/chat-vid.svg); background-position: center; display: block;
  background-repeat: no-repeat; background-size: 30px; bottom: 5px; right: 5px; border-radius: 5px;
}

.resChatIcon {
  position: fixed; right: 90px; bottom: 20px; z-index: 10010; display: block;
}
.resChatIcon .resChat {
  width: 55px; height: 55px; background-color: #019de0; border-radius: 50%; text-align: center;
  line-height: 42px; font-size: 25px; color: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  cursor: pointer; position: relative;
}
.resChatIcon .resChatClose {
  width: 55px; height: 55px; background-color: #f75151; border-radius: 50%; text-align: center;
  line-height: 42px; font-size: 20px; color: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  cursor: pointer; display: block;
}
.resChatIcon .resChat span, .resChatIcon .resChatClose span {
  position: absolute; font-size: 11px; left: 0px; right: 0px; margin: 0px auto; bottom: -6px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.chatFile {
  width: 250px; min-height: 45px; background-color: #f9f9f9; border-radius: 5px; margin: 5px;
  position: relative; padding: 7px 50px;
}
.chatMes.myMessage .chatFile { background-color: #fff;}
.chatFile img { width: 28px; left: 10px; top: 10px; position: absolute;}
.chatFile p {
  padding: 0px 0px; margin: 0px 0px; font-size: 13px; font-weight: 400; color: #454545;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.chatFile span {
  display: block; font-size: 11px; font-weight: 400; color: #999;
}
.chatFile i {
  position: absolute; width: 35px; height: 35px; text-align: center; right: 15px; top: 8px;
  font-size: 24px; color: #bdbdbd; line-height: 34px; cursor: pointer;
}

.chatTag {
  width: 250px; min-height: 45px; background-color: #f9f9f9; border-radius: 5px; margin: 5px;
  position: relative; padding: 5px 5px 5px 55px;
}
.chatMes.myMessage .chatTag { background-color: #fff;}
.chatTag img { width: 34px; height: 34px; object-fit: cover; border-radius: 50%; left: 10px; top: 5px; position: absolute;}
.chatTag p {
  padding: 0px 0px; margin: 0px 0px; font-size: 13px; font-weight: 400; color: #454545;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.chatTag span {
  display: block; font-size: 11px; font-weight: 400; color: #999;
}
.chatTagLinks {
  padding: 0px 10px ;
}
.chatTagLinks a {
  display: inline-block; font-size: 13px; font-weight: 400; color: #666; padding: 2px 15px;
}
.chatTagLinks a:hover { color: #0275bf;}
.searchChatPop {
  padding: 8px; background-color: #fff; position: absolute; width: 300px; display: none;
  top: 37px; right: -107px; border-radius: 5px; box-shadow: 0px 2px 3px rgba(0,0,0,0.1); z-index: 1000;
}
.searchChatPop input {
  background-image: url(assets/img/searchIcon.svg); background-repeat: no-repeat; background-size: 22px;
  background-position: 6px center; width: 100%; border: 1px solid #dedede; background-color: #fff; border-radius: 4px;
  padding: 0px 10px 0px 35px; height: 32px;
}

.chatFileUpload {
  position: absolute; background-color: rgba(255,255,255,.9); top: 52px; left: 0px; width: 100%; height: 100%;
  padding: 30px; display: none;
}
.chatFileUploadInn { min-height: 260px; padding: 20px 0px 0px;}
.chatFileImg { padding: 5px; width: 250px; height: 180px; margin: 0px auto; background-color: #f1f1f1; border-radius: 5px;}
.chatFileImg img { width: 100%; height: 100%; object-fit: cover; border-radius: 5px;}
.chatFileImg.chatFileVid { position: relative; overflow: hidden;}
.chatFileImg.chatFileVid i {
  position: absolute; width: auto; height: auto; background-color: rgba(0,0,0,.20); top: 5px;
  left: 5px; background-image: url(assets/img/chat-vid.svg); background-position: center; display: block;
  background-repeat: no-repeat; background-size: 30px; bottom: 5px; right: 5px; border-radius: 5px;
}
.chatFileClose {
  position: absolute; right: 30px; top: 20px; cursor: pointer; font-size: 16px; color: #e77272;
  width: 40px; height: 40px; border-radius: 50%; background-color: #f9f9f9; text-align: center; line-height: 38px;
}
.chatFileUploadSend { padding: 10px 30px;}
.chatFileUploadSend input {
  width: 75%; float: left; border: none; border-bottom: 1px solid #019de0; font-size: 15px; font-weight: 400;
  color: #454545; height: 36px; padding: 0px 15px;
}
.chatFileUploadSend button {
  width: 23%; float: right; border: none; background-color: #01a2e8; border-radius: 3px; height: 36px;
  font-size: 15px; font-weight: 500; color: #fff;
}
.chatFileDoc { text-align: center; padding: 30px 0px 0px 0px;}
.chatFileDoc img { width: 70px;}
.chatFileDoc p {
  padding: 10px 0px 5px; margin: 0px 0px; font-size: 14px; font-weight: 400; color: #666;
}
.chatFileDoc span { display: block; font-size: 12px; color: #999;}

.uploadAudio {
  width: 190px; padding: 8px 50px 0px; position: relative; height: 45px; display: none;
}
.uploadAudio span {
  width: 32px; height: 32px; border-radius: 50%; border: 1px solid #028a23; color: #028a23; position: absolute;
  font-size: 15px; font-weight: 400; line-height: 31px; text-align: center; left: 5px; top: 5px; cursor: pointer;
}
.uploadAudio span.closeAud {
  border: 1px solid #d9534f; color: #d9534f; right: 5px; top: 5px; left: auto;
}

.uploadAudio p {
  position: relative; font-size: 20px; font-weight: 400; color: #666; padding: 0px 0px 0px 30px; margin: 0px;
}
.uploadAudio p i {
  position: absolute; width: 13px; height: 13px; border-radius: 50%; background-color: #dc3535;
  left: 5px; top: 7px;
  animation: losbastardos 1s linear 0s infinite alternate; /* Firefox */
  -webkit-animation: losbastardos 1s linear 0s infinite alternate; /* Chrome, Safari, Opera */
}
@keyframes losbastardos {
  0% {background-color: #dc3535;}
  50% {background-color: #3bb07d;}
  90% {background-color: #dc3535;}
}

@-webkit-keyframes losbastardos {
  0% {background-color: #dc3535;}
  50% {background-color: #3bb07d;}
  90% {background-color: #dc3535;}
}

.chatforwardPop {
  position: absolute; background-color: rgba(255,255,255,.9); top: 0px; left: 0px; width: 100%; height: 100%;
  padding: 30px; display: none; z-index: 100;
}
.chatforwardPopInn {
  width: 70%; margin: 15px auto; background-color: #ededed; box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px; padding: 0px 0px 30px 0px; position: relative;
}
.chatforwardPopInn h3 {
  background-color: #01a2e8; height: 35px; line-height: 34px; padding: 0px 20px; margin: 0px;
  font-size: 14px; font-weight: 400; color: #fff; border-radius: 5px 5px 0px 0px; position: relative;
}
.chatforwardPopInn h3 i {
  width: 35px; height: 35px; position: absolute; text-align: center; line-height: 34px; font-size: 16px;
  color: #fff; cursor: pointer; right: 5px;
}
.chatforwardPopInn ul {
  padding: 20px 20px 20px 40px; margin: 0px 0px; overflow: auto; height: 400px; background-color: #fff;
}
.chatforwardPopInn ul li {
  list-style-type: none; position: relative; padding: 5px 10px 5px 60px;
}
.chatforwardPopInn ul li input {
  position: absolute; left: -24px; width: 20px; height: 20px; top: 14px; margin: 0px;
}
.chatforwardPopInn ul li label { display: block;}
.chatforwardPopInn ul li label img {
  width: 36px; height: 36px; border-radius: 50%; object-fit: cover; position: absolute; left: 10px; top: 5px;
}
.chatforwardPopInn ul li label p {
  padding: 0px 0px; margin: 0px 0px; font-size: 14px; font-weight: 400; color: #454545;
}
.chatforwardPopInn ul li label span {
  padding: 0px 0px 10px; margin: 0px 0px; font-size: 12px; font-weight: 400; color: #999; display: block;
  border-bottom: 1px solid #ededed;
}
.chatforwardPopInn button {
  position: absolute; width: 55px; height: 55px; background-color: #019de0; box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
  cursor: pointer; border: none; border-radius: 50%; right: 50px; bottom: 10px; text-align: center;
}
.chatforwardPopInn button img { width: 28px; margin: 0px 0px 0px 2px;}
.chatforwardPopInn button:hover { background-color: #01a2e8;}
.mat-bottom-sheet-container{
  max-height: 80vh !important;
  min-height: 70vh;
  padding: 0 !important;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.mat-menu-panel .mat-menu-item{
  line-height: 30px;
  height: 30px
}
.searchlist {
  overflow-y: scroll;
  max-height: 310px;
}
.forward{
  width: 80% !important;
}
.forward .searchinput{
  // padding: 10px 0;
  // border-bottom: 1px solid #000;
  // border-top: 1px solid #000;
}

.forward .btn {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #0078d4;
  color: #fff;
  font-size: 12px;
  padding: 4px 15px;
}
.forward h5{
  margin: 0;
  color: #282726;
  font-size: 16px;
  text-transform: capitalize;
}
.forward .clearfix {
  border-bottom: 1px solid #c7c5c5;
  padding: 8px 8px;
}
.searchinput input {
  width: 111%;
  border: 0;
  background: linear-gradient(45deg, #0385d9, #b8b8f5);
  color: #fff;
  padding: 10px;
  margin: 0 -24px;
}
.searchinput input::placeholder {
  color: #fff;
}
.fimage img{
  border-radius: 15px;
  max-width: 75px;
}
.fchat{
  position: relative;
  width: 100%;
  background-color: #ddd;
  padding: 5px 28px;
  border-radius: 15px;
}
.fchat::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #888383;
}

@media (min-width: 1500px) {
  .chatMesWrap {
    max-height: 600px;

  }
}



@media (max-width: 1400px) {

  .chatList.chatListAct {bottom: 0px;}
  .resChatIcon { right: 20px; bottom: 50px;}
  .chatListSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 98;
    position: absolute;
    /* padding: 10px; position: absolute; z-index: 10; width: 100%; top: 0px; left: 0px; */
    /* background-color: #fff; */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  }
  .chatListSearch input { background-color: #f9f9f9;}
  /* .chatFilter { color: #666;} */
  .chatListSearch input { height: 40px;}
  /* .chatFiltIcon { width: 50px; right: 10px; top: 5px;} */
  .chatListInn { padding: 65px 0px 20px 0px;    max-height: 700px;
    overflow-y: auto;}
  .chatMesWrap{
    max-height: 500px;
  }
  .chatListInn li {padding: 5px 40px 3px 60px;}
  .chatListInn li p { padding: 0px 0px 5px;}
  .chatImg { width: 36px; height: 36px;}
  .chatCount { right: 20px;}
  .chatWrapHead { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);}

  .newCeritCta { width: 32.333%;}
  .chatComment { position: fixed;bottom: 0px;padding: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mat-menu-panel.demo {
    width: 280px !important;
    max-width: 100% !important;
    overflow: hidden;
  }
  .chatFile { width: 230px;}

  .newCeriDetLeft { width: 100%; float: none;}
  .newCeriDetBuy { margin: 0px auto 20px; float: none; width: 80%; max-width: 270px;}

  .cartWrapText { width: 66%;}
  .cartLikeWrap ul li { width: 32.33%;}


}
@media (max-width: 992) {
  .chatListInn li {
    padding: 5px 10px;
  }
  .chatListInn li .chatImg{
    position: relative;
    left: 0px;
    top: 0px;
    margin-right: 10px;
  }
  .chatListInn {
    max-height: 100%;
  }
  .chatOverIcon{
    opacity: 1;
    right: -15px;
    visibility: visible;
  }
  .chatMes.myMessage .chatOverIcon {
    background-color: transparent;
    left: -20px;
    right: auto;
  }
  .chatComment {
    position: fixed;
    bottom: 45px;
    padding: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 991) {
  .chatComment {
    position: fixed;
    bottom: 50px;
  }
}
@media (max-width: 760px) {

  .chatforwardPop { padding: 20px;}
  .chatforwardPopInn { width: 100%;}
  .chatAttachpop { width: 100%; border-radius: 10px 10px 0px 0px;}
  .chatAttachCta {     width: 100%;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    margin: 0 1px;
    position: relative;}
  .uploadAudio {float: right; margin: 0px 20px 0px 0px;}
  .chatFileUpload { top: 0px;}
  .chatFileUploadInn {min-height: 360px; padding: 80px 0px 0px;}
  .chatFileUploadSend { padding: 10px 0px;}

}


